/* ==================================================================================
                       Typography
================================================================================== */
:root {
  /* font-family: 'Montserrat', sans-serif;
  font-style: normal; */
}
h1 {
  /* font-size: 2.6rem;
  font-weight: 700; */
}

.title {
  /* font-size: 2.6rem;
  font-weight: 700; */
}

h2 {
  /* font-size: 2rem;
  font-weight: 700; */
}

h3 {
  /* font-size: 1.5rem;
  font-weight: 700; */
}

/* ==================================================================================
                        Layout
================================================================================== */
body {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  
}
ul li{
  display: inline-block;
}
.container{
  display: grid;
  grid-gap: 2em;
  width: 100%;
  grid-template-rows: 80px 435px 3700px 255px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 

}

img{
  width: 20px;
}

.top {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.nav1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border:1px solid blue;
}

.nav2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green;
}

.cover {
  grid-column: 1/-1;
  grid-row:2/3;
  background-color: green;
  
}

.main{
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: hotpink;
}

.footer{
  grid-column: 1/-1;
  grid-row: 4/5;
  background-color: blue;
}



/* .news{
  grid-area: news;
}

.funding{
  grid-area: funding;
}

.apps{
  grid-area: apps;
}

.deals{
  grid-area: deals;
}

.social{
  grid-area: social;
}
 */
